:root {
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  --accent: #005fff;

  --login-field-bg: #f1f1f1;
  --login-filed-color: #000;
  --login-field-placeholder: #7a7a7a;
  --button-color: #fff;
}

* {
  font-family: "Cairo", sans-serif;
}

body {
  margin: 0;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 450px) {
  .parent {
    align-items: flex-start;
  }
}
