:root {
  --accent: #005fff;

  --l-main-color: #000;
  --d-main-color: #fff;

  --d-main-bg: #000;
  --l-main-bg: #fff;

  --l-login-field-bg: #f2f2f2;
  --d-login-field-bg: #13151b;

  --l-login-field-color: #000;
  --d-login-field-color: #fff;

  --login-field-placeholder: #7a7a7a;

  --l-button-color: #fff;
  --d-button-color: var(--accent);

  --l-button-bg: var(--accent);
  --d-button-bg: #fff;
}

:root[data-theme="light"] {
  --main-color: var(-l-main-color);
  --main-bg: var(--l-main-bg);
  --login-field-bg: var(--l-login-field-bg);
  --login-filed-color: var(--l-login-field-color);
  --button-color: var(--l-button-color);
  --button-bg: var(--l-button-bg);
  background-color: var(--main-bg);
  color: var(--main-color);
}

:root[data-theme="dark"] {
  --main-color: var(-d-main-color);
  --main-bg: var(--d-main-bg);
  --login-field-bg: var(--d-login-field-bg);
  --login-filed-color: var(--d-login-field-color);
  --button-color: var(--d-button-color);
  --button-bg: var(--d-button-bg);
  background-color: var(--main-bg);
  color: var(--main-color);
}

* {
  font-family: "Cairo", sans-serif;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

body {
  margin: 0;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

@media (max-width: 450px) {
  .parent {
    align-items: flex-start;
  }
}
