.error {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.error h3 {
  margin: 0;
}

.error a {
  color: var(--main-color);
  font-weight: bolder;
}

.in-chat {
  align-self: flex-start;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  max-width: 490px;
  height: 100dvh;
  width: 100dvw;
  /* padding: 0 20px; */
  flex-direction: column;
  position: relative;
}

.in-chat .header {
  position: fixed;
  top: 0;
  max-width: 450px;
  user-select: none;
  width: calc(100dvw - 40px);
  padding: 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-color);
  height: 3rem;
  background-color: var(--main-bg);
}

.in-chat .header .first-group {
  display: flex;
  align-items: center;
  flex-basis: 80%;
}

.in-chat .header .title {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 15px;
  overflow: hidden;
}

.in-chat .header .icon {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.in-chat .header h1 {
  margin: 0;
  width: fit-content;
}

.in-chat .header .options {
  display: flex;
  align-items: center;
  gap: 8px;
}

.in-chat .header .info-icon {
  width: 30px;
  height: 30px;
}

.in-chat .header .options .add-icon {
  width: 25px;
  height: 25px;
}

.in-chat .typing {
  position: fixed;
  max-width: 450px;
  width: calc(100dvw - 16px);
  height: 50px;
  /* background-color: var(--main-bg); */
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.in-chat .typing .add-icon {
  width: 30px;
  height: 30px;
  color: var(--accent);
}

.in-chat .typing .typing-area {
  /* width: ; */
  flex-basis: 70%;
  resize: none;
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 8px;
  padding: 8px;
  font-size: 1rem;
  height: 1.2rem;
  line-height: 1.1;
  display: flex;
  align-items: center;
}

.in-chat .typing .typing-area:focus {
  outline: none;
}

.in-chat .typing button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.in-chat .typing .send {
  width: 30px;
  height: 30px;
  color: var(--accent);
}

.in-chat .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  user-select: none;
}

.in-chat .messages {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  max-width: 450px;
  width: 100%;
  margin: 49px 0 50px;
  /* gap: 0.742rem; */
}

.in-chat .messages .message {
  display: flex;
  gap: 10px;
  /* max-width: 90%; */
  /* margin-top: -4px; */
}

.in-chat .messages .message.left {
  align-self: flex-end;
  margin-top: 8px;
}

.in-chat .messages .message .user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-chat .messages .message .user .user-icon {
  height: 35px;
  width: 35px;
}

.in-chat .message.left .content {
  display: flex;
  justify-content: flex-end;
}

.in-chat .message .content .user-name {
  /* background-color: red; */
  font-weight: bolder;
  min-width: 100%;
  margin: 0;
  overflow: hidden;
}

.in-chat .message .content .container {
  margin-top: -5px;
  background-color: var(--login-field-bg);
  padding: 0 0.5rem;
  border-radius: 0px 8px 8px 8px;
  display: flex;
  flex-direction: column;
}

.in-chat .message .content .message-text {
  padding-top: 5px;
  max-width: 220px;
  line-height: 20px;

  display: inline-block;
  overflow-wrap: break-word;
  white-space: normal;
  min-width: 0;
  word-break: break-word;
}

.in-chat .message .content .message-time {
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  width: fit-content;
}

.in-chat .message.left .content .message-time {
  text-align: left;
}

.in-chat .message.transparent {
  align-self: center;
  background-color: var(--transparent-msg);
  padding: 0 12px;
  margin-bottom: 12px;
  border-radius: 1rem;
  font-weight: bolder;
}
